In [1]:
import pandas as pd 
from replace import replace
a = pd.read_csv('user accounts.csv',delimiter=';')


print a    
a = replace(a,'available_balance',False,0)
##timeoutlier(a,'available_balance')
print a

      id  customer_id account_type account_number  available_balance  \
0      1           19      savings       xxxx6302           21481.44
1      2           22      savings       xxxx4287            4923.48
2      3          251     checking       xxxx-X48                NaN
3      4          251      unknown       xxxx-X44                NaN
4      5          251     checking       xxxx-X49                NaN
5      6          251     checking       xxxx-X47                NaN
6      7          251      savings       xxxx-X48                NaN
7      8          251      savings       xxxx-X02                NaN
8      9          251      savings       xxxx-X44                NaN
9     10          583      savings       xxxx-X44          159674.54
10    11          583      savings       xxxx-X06           44176.48
11    12          979      savings       xxxx3916            1380.86
12    13         1066      savings       xxxx3243           15183.66
13    14         1103      savings       xxxx9330            2068.00
14    15         1112      savings       xxxx9330            2068.00
15    16         1138      savings       xxxx0154          658221.55
16    17         1151      savings       xxxx0154          658221.55
17    18         1179      savings       xxxx9330            5000.00
18    19         1216      savings       xxxx7855           26158.95
19    20         1216           CD       xxxx8223           18000.00
20    21         1216           CD       xxxx6449          100000.00
21    22         1216           CD       xxxx4034            5500.00
22    23         1216           CD       xxxx8633           62815.00
23    24         1216           CD       xxxx1669           14076.00
24    25         1233      savings       xxxx7855           26158.95
25    26         1233           CD       xxxx8223           18000.00
26    27         1233           CD       xxxx6449          100000.00
27    28         1233           CD       xxxx4034            5500.00
28    29         1233           CD       xxxx8633           62815.00
29    30         1233           CD       xxxx1669           14076.00
..   ...          ...          ...            ...                ...
508  508        44005      savings       xxxx8903             482.00
509  509        44005          ppf       xxxx7763          164082.00
510  510        44005      savings       xxxx9095             130.83
511  511        44010      savings       xxxx7165           20289.42
512  512        44016      savings       xxxx1805           62534.02
513  513        44016      savings       xxxx8903             482.00
514  514        44016          ppf       xxxx7763          164082.00
515  515        44016      savings       xxxx9095             130.83
516  516        44762      savings       xxxx4828         1202096.04
517  517        44911      savings       xxxx0660            2360.00
518  518        45254      savings       xxxx3292           18397.73
519  519        45254      savings       xxxx9779            5053.14
520  520        45260      unknown       xxxx-X28                NaN
521  521        45260      savings       xxxx-X29           39940.33
522  522        45480      savings       xxxx0084           47999.17
523  529        45757      savings       xxxx5500            7004.74
524  532        45774      savings       xxxx0440             172.36
525  537        46033      savings       xxxx2602              15.25
526  538        46083      savings       xxxx3254           59495.21
527  523        45524      savings       xxxx7711            6070.30
528  524        45527      savings       xxxx7711            6070.30
529  525        45527      savings       xxxx9117            2900.00
530  528        45573      savings       xxxx0361            3371.42
531  530        45767      savings       xxxx7711            6070.30
532  531        45767      savings       xxxx9117            2900.00
533  533        45786      savings       xxxx5104              32.82
534  534        45786      savings       xxxx4813           -7042.37
535  535        45786      savings       xxxx0440             172.36
536  536        45831      savings       xxxx-X17              38.27
537  527        45541           CD       xxxx2343           20059.00

     current_balance        maturity_date
0           21481.44                  NaN
1            4923.48                  NaN
2                NaN                  NaN
3          -66088.00                  NaN
4                NaN                  NaN
5                NaN                  NaN
6            7382.38                  NaN
7           24054.16                  NaN
8            3149.58                  NaN
9          159674.54                  NaN
10          44176.48                  NaN
11           1380.86                  NaN
12          15183.66                  NaN
13               NaN                  NaN
14               NaN                  NaN
15         658221.55                  NaN
16         658221.55                  NaN
17           5000.00                  NaN
18          26158.95                  NaN
19          21033.69  2016-05-15 00:00:00
20         107034.81  2016-05-09 00:00:00
21           6747.67  2018-10-29 00:00:00
22          77064.58  2018-10-29 00:00:00
23          14273.21  2017-04-22 00:00:00
24          26158.95                  NaN
25          21033.69  2016-05-15 00:00:00
26         107034.81  2016-05-09 00:00:00
27           6747.67  2018-10-29 00:00:00
28          77064.58  2018-10-29 00:00:00
29          14273.21  2017-04-22 00:00:00
..               ...                  ...
508           482.00                  NaN
509        164082.00                  NaN
510           130.83                  NaN
511              NaN                  NaN
512         62534.02                  NaN
513           482.00                  NaN
514        164082.00                  NaN
515           130.83                  NaN
516       1202096.04                  NaN
517          2360.00                  NaN
518         18397.73                  NaN
519          5053.14                  NaN
520              NaN                  NaN
521         39940.33                  NaN
522         47999.17                  NaN
523          7004.74                  NaN
524           172.36                  NaN
525              NaN                  NaN
526         59495.21                  NaN
527          6070.30                  NaN
528          6070.30                  NaN
529          2900.00                  NaN
530          3371.42                  NaN
531          6070.30                  NaN
532          2900.00                  NaN
533            32.82                  NaN
534              NaN                  NaN
535           172.36                  NaN
536            38.27                  NaN
537         20059.00  2018-03-04 00:00:00

[538 rows x 7 columns]
0